<h1>Productos</h1>
<table>
  <thead>
    <tr>
      <th>Título</th>
      <th>Código</th>
      <th>Categoría</th>
      <th>Descripción</th>
      <th>Precio</th>
      <th>Stock</th>
      <th>Estado</th>
    </tr>
  </thead>
  <tbody>
    {{#each products}}
      <tr>
        <td>{{this.title}}</td>
        <td>{{this.code}}</td>
        <td>{{this.category}}</td>
        <td>{{this.description}}</td>
        <td>{{this.price}}</td>
        <td>{{this.stock}}</td>
        {{#if this.status}}
          <td>Disponible</td>
        {{else}}
          <td>No disponible</td>
        {{/if}}
      </tr>
    {{/each}}
  </tbody>
</table>