<div>
  <h1>Perfil de {{user.name}}</h1>

  <section>
    <h2>Información personal</h2>
    <ul>
      <li>Nombre: {{user.firstName}}</li>
      <li>Apellido: {{user.lastName}}</li>
      <li>Correo electrónico: {{user.email}}</li>
      <li>Edad: {{user.age}}</li>
    </ul>
  </section>

</div>