<div class='pagination'>
  {{#if hasPrevPage}}
    <a href='/products?page={{prevPage}}' class='link-pagination' id='prev-page'>
      <button>
        Anterior
      </button>
    </a>
  {{else}}
    <a class='link-pagination' disabled='true'>
      <button disabled>
        Anterior
      </button>
    </a>
  {{/if}}

  <span>{{page}} / {{totalPages}}</span>
  {{#if hasNextPage}}

    <a href='/products?page={{nextPage}}' class='link-pagination' id='next-page'>
      <button>
        Siguiente
      </button>
    </a>
  {{else}}
    <a class='link-pagination' disabled='true'>
      <button disabled>
        Siguiente
      </button>
    </a>
  {{/if}}
</div>